<!DOCTYPE html>
<html>
<head>
    <title> {% block title %}Recipeitor{% endblock %}</title>
    <script type="text/javascript"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><b>Recipeitor</b></a>
        </div>

        <div class="pull-right col-lg-10">
            <form class="navbar-form" role="search">
                <div class="col-lg-12 input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>

</html>